{{ ansible_managed | comment }}

[Unit]
Description=Python HG612 Exporter
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=allways
TimeoutStartSec=300
TimeoutStopSec=120
ExecStartPre=/bin/rm -f %t/blackbox-exporter.pid %t/blackbox-exporter.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/blackbox-exporter.pid --cidfile %t/blackbox-exporter.ctr-id --cgroups=no-conmon --label io.containers.autoupdate=image --pull=always --replace --name pyhg612-exporter --detach --user root --publish 127.0.0.1:{{ pyhg612exporter_port }}:8080 {{ pyhg612exporter_registry_host }}/{{ pyhg612exporter_registry_tag }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/blackbox-exporter.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/blackbox-exporter.ctr-id
PIDFile=%t/blackbox-exporter.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
