{{ ansible_managed | comment }}

<Proxy *>
    Require ip 192.168.1.0/24
    Require ip fd71:d46d:9b39::/48
    Require ip 2001:470:1f08:95b::2
</Proxy>
AllowEncodedSlashes NoDecode
ProxyPass / http://localhost:{{ pyhg612exporter_port }}/ nocanon
ProxyPassReverse / http://localhost:{{ pyhg612exporter_port }}/
